$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$back-light: #383838;
$back-light-second: #292929;
$brown: #b8a47e;
$brown-opacity-42: #e1d9c9;
$gray: #878787;
$gray-light: #a7a7a7;
$gray-light-second: #afafaf;
$gray-light-third: #ededed;
$gray-light-fourth: #000;
$gray-light-fiveth: #bababa;
$gray-light-sixth: #d5d5d5;